@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700;800&family=Manrope:wght@300;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

// font-family: 'Gabarito', sans-serif;
// font-family: 'Manrope', sans-serif;
// font-family: 'Playfair Display', serif;

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

body::-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none;
}


// SECTION: NAVBAR
header {
    z-index: 100;
    width: 100%;
    position: fixed;
}
.nav-container {
    background-color: #2a312f;

    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 6em;

    .nav__logo {
        font-family: 'Gabarito', sans-serif;
        color: #C0EA6A;
        
        h1 {
            font-size: 2.5rem;
        }
    }

    .nav__menus {
        display: flex;
        // gap: 5em;
        height: 100%;

        nav {
            display: flex;
            align-items: center;
            // gap: 2em;

            a {
                align-self: center;
                font-family: 'Gabarito', sans-serif;
                color: #FFFFFF;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center ;
                padding: 0em 1em;
                font-size: 1.75rem;
            }

            .active {
                background-color: #C0EA6A;
            }
        }

        .nav-back {
            display: flex;
            align-items: center;
            width: 100%;
            a {
                padding: 0em 3em;
                font-family: 'Gabarito', sans-serif;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center ;
                height: 100%;
                font-size: 1.75rem;
            }
        }
    }
}

// SECTION: HERO
.hero {
    z-index: 1;
    width: 100%;
    padding-top: 4em;
    // border-bottom: 2px solid #2a312f;
    .hero-container {
        // height: 100vh;

        .hero__title {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            border-bottom: 2px solid #2a312f;
            // padding: 0em 6em;

            .hero__title-1 {
                padding-left: 6em;
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 10vw;
                    font-weight: 400;
                    // font-style: italic;
                    font-family: 'Gabarito', sans-serif;
                }
                p {
                    font-size: 2rem;
                    font-family: 'Manrope', sans-serif;
                    margin-top: auto;
                    padding-bottom: 1.5em;
                }
            }
            .hero__title-2 {
                padding-right: 4em;
                border-left: 2px solid #2a312f;
                h1 {
                    font-size: 10vw;
                    font-weight: 400;
                    // font-style: italic;
                    font-family: 'Gabarito', sans-serif;
                }
                .uniq-1 {
                    text-align: right;
                }
                .uniq-2 {
                    padding-left: 0.25em;
                    color: #C0EA6A;
                }
            }
        }

        .marquee {
            height: 5em;
            // width: 420px;
            display: flex;
            align-items: center;
          
            overflow: hidden;
            position: relative;

            div {
                display: flex;
                width: 200%;
                // height: 10px;
              
                position: absolute;
                overflow: hidden;
              
                animation: marquee 25s linear infinite;

                span {
                    float: left;
                    width: 50%;
                    font-size: 2rem;
                }
            }
        }
          
        @keyframes marquee {
            0% { left: 0; }
            100% { left: -100%; }
        }

        .hero__banner {
            // margin-top: 3em;
            border-top: 2px solid #2a312f;
            
            .hero__banner-wrap {
                padding-top: 1em;
                display: grid;
                grid-template-columns: 3fr 1fr;
                gap: 1em;

                .hero-img {
                    background-image: url("/member/raihan/img/hero-img.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 10% 20%;
                    height: 420px;
                }

                .hero-card {
                    background: rgb(244,247,240);
                    background: linear-gradient(133deg, rgba(244,247,240,1) 0%, rgba(192,234,106,0.804359243697479) 100%);
                    border-top: 2px solid #2a312f;
                    border-bottom: 2px solid #2a312f;
                    border-left: 2px solid #2a312f;
                    display: flex;
                    flex-direction: column;
                    padding: 1em 0em 1em 1.25em;

                    p {
                        font-size: 2rem;
                        font-family: 'Manrope', sans-serif;
                        padding-right: 9em;
                    }

                    div {
                        margin-top: auto;
                    }
                }

            }
        }
    }
}

// SECTION: PROFILE
.profile {
    // padding-top: 10em;

    .profile-container {
        padding: 8em 6em 10em 6em;
        height: 100vh;
        
        .profile__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 8rem;
                font-weight: 400;
                font-family: 'Gabarito', sans-serif;
            }
            p {
                font-size: 4rem;
                font-weight: 500;
                font-family: 'Manrope', sans-serif;
            }
        }

        .profile__details {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 3em;
            height: 100%;
            padding: 6em 0em;

            .profile__details-list {
                // border: 2px solid red;

                display: grid;
                grid-template-rows: repeat(6, 1fr);

                .details-list {
                    border-bottom: 2px solid #2a312f;

                    display: grid;
                    grid-template-columns: 0.5fr 1fr;
                    align-items: center;
                    transition: 0.5s ease-in-out;

                    p {
                        font-family: 'Manrope', sans-serif;
                        // border-radius: 2px solid violet;
                        font-size: 1.75rem;
                    }
                }

                .details-list:hover {
                    background-color: #C0EA6A;
                    transition: 0.25s ease-in-out;
                }
            }

            .profile__details-img {
                // border: 2px solid red;
                // background-image: url("/member/raihan/img/myfoto.jpg");
                background-image: url("/member/raihan/img/myfoto-fix.jpg");
                background-size: cover; /* Adjust as needed */
                background-position: center; /* Adjust as needed */
            }
        }
    }
}

// SECTION: SCHOOL
.sch {
    .sch-container {
        height: 100vh;
        padding: 8em 6em 10em 6em;

        .sch__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 8rem;
                font-weight: 400;
                font-family: 'Gabarito', sans-serif;
            }
            p {
                font-size: 4rem;
                font-weight: 500;
                font-family: 'Manrope', sans-serif;
            }
        }

        .sch__details {
            height: 100%;
            .sch-imgs {
                height: 250px;
                display: grid;
                grid-template-columns: 0.5fr 3fr;
                gap: 3em;

                .sch-img-1 {
                    // border: 1px solid red;
                    background-image: url("/member/raihan/img/smk.png");
                    background-size: 80% 65%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }

                .sch-img-2 {
                    background-image: url("/member/raihan/img/sch.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 10% 50%;
                }
            }

            .sch-names {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 6rem;
                    font-weight: 300;
                    font-family: 'Manrope', sans-serif;
                }
            }

            .sch-about {
                padding-top: 5em;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3em;
                p {
                    font-size: 1.75rem;
                    font-weight: 400;
                    font-family: 'Manrope', sans-serif;
                }
            }
        }
    }
}

// SECTION: EXPERIENCE
.exp {
    background-color: #C0EA6A;

    .exp-container {
        height: 100vh;
        padding: 8em 6em 10em 6em;

        .exp-wrap {
            display: grid;
            grid-template-columns: 1fr 3fr;
            height: 100%;
            gap: 3em;

            .exp__title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // border: 2px solid red;
                p {
                    font-size: 4rem;
                    font-weight: 500;
                    font-family: 'Manrope', sans-serif;
                }
                h1 {
                    margin-top: auto;
                    font-size: 8rem;
                    font-weight: 400;
                    font-family: 'Gabarito', sans-serif;
                }
            }

            .exp__details {
                .exp__cards {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    height: 100%;
                    gap: 3em;

                    .exp-card {
                        border: 2px solid #2a312f;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        padding: 2em;
                        gap: 3em;

                        .exp-img-1 {
                            height: 100%;
                            background-image: url("/member/raihan/img/exp1.png");
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50% 0%;
                            // transform: scale(1.2);
                        }

                        .exp-img-2 {
                            height: 100%;
                            background-image: url("/member/raihan/img/bit.png");
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50% 0%;
                            // transform: scale(1.2);
                        }

                        .exp-card-title {
                            p {
                                font-size: 2.2rem;
                                font-weight: 700;
                                font-family: 'Manrope', sans-serif;
                            }
                            h1 {
                                font-size: 3rem;
                                font-weight: 300;
                                font-family: 'Manrope', sans-serif;
                            }
                        }

                        p {
                            font-size: 1.5rem;
                            font-weight: 500;
                            font-family: 'Manrope', sans-serif;
                        }
                    }
                }
            }
        }
    }
}

// SECTION: PROJECT


.project {
    background-color: #2a312f;
    height: 100vh;
    // padding-bottom: 3em;

    .pro-container {
        height: 100%;
        padding: 4em 6em 10em 6em;
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        align-items: center;

        .pro-col-1 {
            height: 100%;
            // border: 1px solid #C0EA6A;
            h1 {
                margin-top: auto;
                font-size: 8rem;
                font-weight: 400;
                font-family: 'Gabarito', sans-serif;
                color: #C0EA6A;
            }
        }

        .pro-col-2 {
            height: 100%;

            // display: flex;
            

            .pro-content {
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                gap: 3em;

                .pro-item {
                    height: 100%;
                    border: 2px solid #C0EA6A;
                    display: flex;
                    flex-direction: column;

                    .pro-title {
                        align-self: stretch;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content:flex-start;
                        gap: 2em;

                        div {
                            // flex-grow: 1;
                            // align-self: stretch;
                            padding: 1em 1em 0.5em 1em;
                            h1 {
                                font-size: 4rem;
                                font-weight: 400;
                                font-family: 'Gabarito', sans-serif;
                                color: #F4F6F0;
                            }
                            h5 {
                                font-size: 1.5rem;
                                font-weight: 400;
                                font-family: 'Gabarito', sans-serif;
                                color: #F4F6F0;
                            }
                        }
                        p {
                            font-size: 1.5rem;
                            font-weight: 500;
                            font-family: 'Manrope', sans-serif;
                            color: #F4F6F0;
                            padding-right: 3em;
                            padding-left: 1em;
                        }

                        a {
                            font-size: 1.5rem;
                            font-weight: 500;
                            font-family: 'Manrope', sans-serif;
                            color: #2a312f;
                            padding-right: 5em;

                            padding: 1em;
                            background-color: #C0EA6A;
                            transition: 0.25s ease-in-out;
                        }

                        a:hover {
                            background-color: #F4F6F0;
                            transition: 0.25s ease-in-out;
                        }
                    }

                    .pro-1 {
                        background-image: url("/member/raihan/img/project-1.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        background-position: 0% 50%;
                    }

                    .pro-2 {
                        background-image: url("/member/raihan/img/project-2.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        background-position: 0% 50%;
                    }

                    .pro-3 {
                        background-image: url("/member/raihan/img/project-3.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        background-position: 0% 100%;
                    }
                }

                // .pro-item::before {
                //     content: "";
                //     grid-column: 1 / 2;
                //     grid-row: 1 / 2;
                // }
                // .pro-item::before {
                //     padding-top: 100%;
                //     content: "";
                // }
            }
        }

        .pro-col-3 {
            height: 100%;
            // border-bottom: 2px solid #C0EA6A;
            display: flex;
            align-items: center;
            justify-content: end;
            p {
                font-size: 4rem;
                font-weight: 500;
                font-family: 'Manrope', sans-serif;
                color: #C0EA6A;
                text-align: right;
            }
        }
    }

    .project-container {
        height: 100vh;
        padding: 8em 6em 10em 6em;
        display: flex;
        align-items: center;

        .project-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 3em;

            .title-1 {
                // height: 100%;
                h1 {
                    font-size: 8rem;
                    font-weight: 400;
                    font-family: 'Gabarito', sans-serif;
                    color: #C0EA6A;
                    display: flex;
                    align-items: center;
                }
            }

            .title-2 {
                p {
                    // height: 100%;
                    font-size: 4rem;
                    font-weight: 400;
                    font-family: 'Gabarito', sans-serif;
                    color: #C0EA6A;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }
            }
            
            .contents {
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 3em;
                
                .content {
                    border: 2px solid #C0EA6A;
                    display: grid;
                    grid-template-rows: 1fr auto;
                    padding: 2em;
                    border-radius: 25px;
                    gap: 2em;

                    .content-details {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 2em;

                        h1 {
                            font-size: 3rem;
                            font-weight: 700;
                            font-family: 'Manrope', sans-serif;
                            color: #F4F6F0;
                        }

                        h5 {
                            font-size: 1.75rem;
                            font-weight: 700;
                            font-family: 'Manrope', sans-serif;
                            color: #F4F6F0;
                        }

                        p {
                            font-size: 1.75rem;
                            font-weight: 300;
                            font-family: 'Manrope', sans-serif;
                            color: #F4F6F0;
                            // padding-right: 10em
                        }

                        a {
                            font-size: 1.75rem;
                            font-weight: 300;
                            font-family: 'Gabarito', sans-serif;
                            color: #F4F6F0;
                        }
                    }
                }

                .content-1 {
                    .content-img {
                        background-image: url("/member/raihan/img/project-1.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 10% 40%;
                        border-radius: 25px;
                        height: 250px;
                    }
                }

                .content-2 {
                    .content-img {
                        background-image: url("/member/raihan/img/project-2.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 0% 40%;
                        border-radius: 25px;
                        height: 250px;
                    }
                }

                .content-3 {
                    .content-img {
                        background-image: url("/member/raihan/img/project-3.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 0% 100%;
                        border-radius: 25px;
                        height: 250px;
                    }
                }
            }
        }
    }
}

// SECTION: HOBBY
.hobby {
    background-color: #F4F6F0;

    .hobby-container {
        height: 100vh;
        padding: 8em 6em 10em 6em;

        .hobby-wrap {
            height: 100%;
            display: grid;
            grid-template-rows: 3fr 1fr;
            align-items: center;
            gap: 2em;

            .hobby-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                gap: 1em;
                row-gap: 2em;
                padding: 2em 0em;

                .hobby-item {
                    height: auto;

                    .hobby-img {
                        height: 20em;
                        background-size: cover;
                    }

                    .hobby-1 {
                        background-image: url("https://www.gematsu.com/wp-content/uploads/2020/03/Genshin-Impact_03-17-20.jpg");
                        background-position: 0% 50%;
                    }
                    .hobby-2 {
                        background-image: url("https://scontent.fbdo9-1.fna.fbcdn.net/v/t39.30808-6/343145817_645076570780934_4509320055641570240_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQM4IBz2M1b7Uy_aCtJNOG10onBrY09_bXSicGtjT39v_yM6nXviIgdhwXIzLcu3q-fQS232UGRNlsyx_RyrgN&_nc_ohc=HWyJyt980RQAX9TAu02&_nc_ht=scontent.fbdo9-1.fna&oh=00_AfC9TqkyXOoifIxw4eZghz7e07WpM1odmXKvWnYtZWQ51g&oe=653727ED");
                        background-position: 15% 35%;
                    }
                    .hobby-2 {
                        background-image: url("https://scontent.fbdo9-1.fna.fbcdn.net/v/t39.30808-6/343145817_645076570780934_4509320055641570240_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQM4IBz2M1b7Uy_aCtJNOG10onBrY09_bXSicGtjT39v_yM6nXviIgdhwXIzLcu3q-fQS232UGRNlsyx_RyrgN&_nc_ohc=HWyJyt980RQAX9TAu02&_nc_ht=scontent.fbdo9-1.fna&oh=00_AfC9TqkyXOoifIxw4eZghz7e07WpM1odmXKvWnYtZWQ51g&oe=653727ED");
                        background-position: 15% 35%;
                    }
                    .hobby-3 {
                        background-image: url("/member/raihan/img/music.jpg");
                        background-position: 0% 50%;
                    }
                    .hobby-4 {
                        background-image: url("/member/raihan/img/animegif.gif");
                        background-position: 0% 50%;
                    }
                    .hobby-5 {
                        background-image: url("/member/raihan/img/design.png");
                        background-position: 0% 50%;
                    }
                    .hobby-6 {
                        background-image: url("/member/raihan/img/lang.png");
                        background-position: 0% 50%;
                    }

                    h1 {
                        display: flex;
                        align-items: center;
                        padding-top: 0.5em;
                        font-size: 2rem;
                        font-weight: 500;
                        font-family: 'Manrope', sans-serif;
                        color: #2a312f;
                    }
                }
            }

            .hobby-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 8rem;
                    font-weight: 400;
                    font-family: 'Gabarito', sans-serif;
                    align-self: flex-end;
                }
                p {
                    font-size: 4rem;
                    font-weight: 500;
                    font-family: 'Manrope', sans-serif;
                    align-self: flex-end;
                }
            }
        }
    }
}

// SECTION: CONTACT
.contact {
    .contact-container {
        height: 100vh;
        padding: 6em 6em 10em 6em;

        .contact-wrap {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1.5fr;

            .contact-form {
                height: 100%;
                display: grid;
                grid-template-rows: 1fr 2fr 1fr;

                div {
                    align-self: self-end;
                    h1 {
                        font-size: 4rem;
                        font-weight: 400;
                        font-family: 'Gabarito', sans-serif;
                        color: #2a312f;
                    }
                    p {
                        font-size: 1.5rem;
                        font-weight: 500;
                        font-family: 'Manrope', sans-serif;
                        color: #2a312f;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1em;

                    input {
                        background-color: #F4F6F0;
                        border-left: 2px solid #2a312f;
                        border-top: none;
                        border-bottom: none;
                        border-right: none;
                        padding: 1em 2em 1em 2em;}
                    }
                    input:focus {
                        outline: none;
                        border-left: 2px solid #C0EA6A;
                    }
                    textarea {
                        background-color: #F4F6F0;
                        border-left: 2px solid #2a312f;
                        border-top: none;
                        border-bottom: none;
                        border-right: none;
                        padding: 3em 2em 3em 2em;
                    }
                    textarea:focus {
                        outline: none;
                        border-left: 2px solid #C0EA6A;
                    }
                    button {
                        text-align: left;
                        background-color: #C0EA6A;
                        border: none;
                        padding: 1em 2em 1em 2em;
                    }
                }
            }

            .contact-more {
                align-self: self-start;
                .contact-list {
                    display: flex;
                    // gap: 3em;
                    a {
                        width: 100%;
                        font-size: 1.75rem;
                        font-weight: 500;
                        font-family: 'Manrope', sans-serif;
                        color: #2a312f;

                        padding: 1em 2em 1em 2em;
                        // background-color: #2a312f;
                        border-left: 2px solid #2a312f;
                    }
                }
            }

            .contact-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                
                h1 {
                    font-size: 8rem;
                    font-weight: 400;
                    font-family: 'Gabarito', sans-serif;
                    color: #2a312f;
                }
                p {
                    font-size: 4rem;
                    font-weight: 500;
                    font-family: 'Manrope', sans-serif;
                    color: #2a312f;
                }
                
        }
    }
}

// FOOTER
footer {
    background-color: #2a312f;

    .foot-container {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: 'Manrope', sans-serif;
            color: #F4F6F0;
        }
    }
}